/**Change the color of the placeholder in login page**/
::-webkit-input-placeholder {
   color: white!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: white!important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white!important;
}

:-ms-input-placeholder {
   color: white!important;
}



.x-tool-img {                           //close button in a window
        color: #404040;
}

.loginBtn{

        background: #e53238 !important;
        border-radius: 20px;
        border: 0;
        margin-left: 260px;
        margin-right: 0px;
        margin-top: 15px;
        font: bold 16px Trebuchet MS !important;
        padding: 7px 15px 7px 15px;
}


.genericBtn{
       border: 0;
       border-radius: 0px;
       margin-right: 0px;
       padding: 7px 15px 7px 15px;
       background: #e53238 !important;
}

.x-btn-text{
        color : #404040 !important;
}


.x-btn-over {
        background-position: bottom center;
        background:  linear-gradient(to bottom, #E7464B 0%, #e53238 61%, #E9585D 100%) no-repeat !important;
}
.custom_grey_btn_over{
        background-position: bottom center;
        background:  linear-gradient(to bottom, #f7f5f5 0%, #f2f0f0 61%, #ebe8e8 100%) no-repeat !important;
}
.custom_red_btn{
        background: #e53238 !important;
        height: 30px;
}
.custom_red_btn_over {
        background-position: bottom center;
        background:  linear-gradient(to bottom, #E7464B 0%, #e53238 61%, #E9585D 100%) no-repeat !important;
}
#koppelen_toolbar .x-btn-inner-default-toolbar-small{
        color: #fff!important;
}
#koppelen_toolbar .x-btn-default-toolbar-small{

        border-radius: 0!important;
}
#koppelen_toolbar{
  padding-left: 30px;
  padding-right: 30px;
}
.x-treelist-toolstrip{
        background-color: white;
}


.x-treelist-row-over .x-treelist-item-text{
        color: #e53238;
}

/*Change the color of icon from red to white when selected*/
.x-treelist-item-selected * > .x-treelist-item-icon {
        color: #ffffff;
}
/*Change the color of text from red to white when selected*/
.x-treelist-item-selected * > .x-treelist-item-text {
        color: #404040;
}
/*Change the color of expander from red to white when selected*/
.x-treelist-item-selected * > .x-treelist-item-expander {
        color: #ffffff;
}




/*Change icon color from red to white when selected and mouse over*/
.x-treelist-item-selected > .x-treelist-row-over * > .x-treelist-item-icon {
        color: #e53238;
}
/*Change text color from red to white when selected and mouse over*/
.x-treelist-item-selected  .x-treelist-row-over * > .x-treelist-item-text {
        color: #e53238;
}
/*Change expander color from red to white when selected and mouse over*/
.x-treelist-item-selected > .x-treelist-row-over * > .x-treelist-item-expander {
        color: #e53238;
}

.x-treelist-row-over * > .x-treelist-item-expander{
        color: #e53238;
}

.ex-element-52{
        margin-left: 20px;
}


.header-cls{
        background-color:#FFFFFF;
}


.header-title-cls{
        color : #404040 !important;
}


.x-form-item-label{   //label style for combobox
        width: 222px;
}



@include extjs-tab-ui(
        $ui: 'grey-tab',
        $ui-background-color: #767070,
        $ui-background-color-active: #595454,
        $ui-background-color-over: #595454,
        $ui-border-color: transparent,
        $ui-border-color-active: transparent,
        $ui-color: #FFFFFF,
        $ui-color-active: #FFFFFF,
        $ui-margin: 0
);
@include extjs-tab-ui(
        $ui: 'blue-tab',
        $ui-background-color: #255D8E,
        $ui-background-color-active: #1F4E78,
        $ui-background-color-over: #1F4E78,
        $ui-border-color: transparent,
        $ui-border-color-active: transparent,
        $ui-color: #FFFFFF,
        $ui-color-active: #FFFFFF,
        $ui-margin: 0
);

.x-title-text{
  color: black;
}
.x-grid-view, .x-grid-header-ct
{
  border: 1px solid grey!important;
}
.x-grid-view{
  border-bottom: 0px!important;
}
.x-toolbar{
  border: 1px solid grey!important;
}
.x-toolbar{
  border-top: 0px!important;
}
.x-btn-icon-el-default-small, .x-box-inner .x-btn-inner-default-small{
  color: black;
}
#panel-1024-innerCt{
  background-color: white;
}
#panel-1022-splitter{
  display: none;
}
#koppelen_keuringen_grid-bodyWrap .x-grid-header-ct{
  border: 0px!important;
}
#koppelen_keuringen_grid-bodyWrap .x-grid-view{
  border: 0px!important;
}
#koppelen_keuringen_grid-bodyWrap .x-box-inner{
  text-align: center;
}
#koppelen_keuringen_grid-bodyWrap .x-grid-cell-inner {
  text-align: left!important;
}
#koppelen_keuringen_grid-bodyWrap  .x-grid-view .x-grid-item-container .x-grid-item .x-grid-row td:nth-child(2) .x-grid-cell-inner{
  text-align: center!important;
}
#koppelen_keuringen_grid-bodyWrap  .x-grid-view .x-grid-item-container .x-grid-item .x-grid-row td:nth-child(3) .x-grid-cell-inner{
  text-align: center!important;
}

#actieve_bedrijven_grid-bodyWrap{
  background-color: white!important;
}
#koppelen_toolbar{
  padding-bottom: 50px!important;
  border: 0px!important;
}


.x-treelist-item-icon, .x-treelist-item-text, .x-treelist-item-expander{
  font-size: 18px!important;
  line-height: 40px!important;
  height: 30px!important;
  padding-left: 10px!important;
}
.x-treelist-item-text{
  padding-left: 40px!important;
}
#micro_btn_container, #micro_btn_container-body{
  background: rgb(215, 215, 215)!important;
}
#main_treelist_container-bodyWrap {
    padding-left: 0px!important;
}
.x-treelist.x-unselectable.x-treelist-expander-first.x-size-monitored.x-paint-monitored.x-box-item.x-treelist-nav .x-treelist-highlight-path{
  padding-left: 20px!important;
}

#micro_btn{
  height: 100px!important;
  border-radius: 5px!important;
}
#micro_btn.x-btn.x-btn-pressed.x-btn-default-small, #micro_btn_container-innerCt .x-btn.x-unselectable.x-btn-default-small.x-btn-pressed, #micro_btn.x-btn.x-unselectable.x-btn-default-small{
  background-color: #fff!important;
  background-image: none!important;
}
#treelist_logo.x-panel.x-box-item.x-panel-default{
  padding-left: 20px!important;
}
.treelist_logo_indent{
  padding-left: 0px!important;

}
#treelist_logo-body{
  width: 100%!important;
}
