.loginBtn{
    background-image: none !important;
    background-color: #e53238 !important;
    border-radius: 20px;
    border: 0;
    margin-left: 260px;
    margin-right: 0px;
    margin-top: 15px;
    font: bold 16px Trebuchet MS !important;
    padding: 7px 15px 7px 15px;
}
.loginBtn:hover{

}