$ui-importButton-button-default-background-color: dynamic(null);
$ui-importButton-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-importButton-button-default-border-color: dynamic(null);
$ui-importButton-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-importButton-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-importButton-button-default-inner-border-color: dynamic(null);
$ui-importButton-button-default-inner-border-width: dynamic(null);
$ui-importButton-button-default-color: dynamic(null);
$ui-importButton-button-small-border-width: dynamic($button-small-border-width);
$ui-importButton-button-small-border-radius: dynamic($button-small-border-radius);
$ui-importButton-button-small-padding: dynamic($button-small-padding);
$ui-importButton-button-small-font-family: dynamic(null);
$ui-importButton-button-small-font-size: dynamic(null);
$ui-importButton-button-small-font-weight: dynamic(null);
$ui-importButton-button-small-text-padding: dynamic($button-small-text-padding);
$ui-importButton-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-importButton-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-importButton-button-small-icon-size: dynamic($button-small-icon-size);
$ui-importButton-button-small-line-height: dynamic($button-small-line-height);
$ui-importButton-button-medium-border-width: dynamic($button-medium-border-width);
$ui-importButton-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-importButton-button-medium-padding: dynamic($button-medium-padding);
$ui-importButton-button-medium-font-family: dynamic(null);
$ui-importButton-button-medium-font-size: dynamic(null);
$ui-importButton-button-medium-font-weight: dynamic(null);
$ui-importButton-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-importButton-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-importButton-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-importButton-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-importButton-button-medium-line-height: dynamic($button-medium-line-height);
$ui-importButton-button-large-border-width: dynamic($button-large-border-width);
$ui-importButton-button-large-border-radius: dynamic($button-large-border-radius);
$ui-importButton-button-large-padding: dynamic($button-large-padding);
$ui-importButton-button-large-font-family: dynamic(null);
$ui-importButton-button-large-font-size: dynamic(null);
$ui-importButton-button-large-font-weight: dynamic(null);
$ui-importButton-button-large-text-padding: dynamic($button-large-text-padding);
$ui-importButton-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-importButton-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-importButton-button-large-icon-size: dynamic($button-large-icon-size);
$ui-importButton-button-large-line-height: dynamic($button-large-line-height);
$ui-importButton-button-default-background-color-disabled: dynamic(null);
$ui-importButton-button-default-border-color-disabled: dynamic(null);
$ui-importButton-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-importButton-button-default-inner-border-color-disabled: dynamic(null);
$ui-importButton-button-default-inner-border-width-disabled: dynamic(null);
$ui-importButton-button-default-background-color-focus: dynamic(null);
$ui-importButton-button-default-border-color-focus: dynamic(null);
$ui-importButton-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-importButton-button-default-inner-border-color-focus: dynamic(null);
$ui-importButton-button-default-inner-border-width-focus: dynamic(null);
$ui-importButton-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-importButton-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-importButton-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-importButton-button-default-background-color-focus-over: dynamic(null);
$ui-importButton-button-default-border-color-focus-over: dynamic(null);
$ui-importButton-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-importButton-button-default-inner-border-color-focus-over: dynamic(null);
$ui-importButton-button-default-inner-border-width-focus-over: dynamic(null);
$ui-importButton-button-default-background-color-focus-pressed: dynamic(null);
$ui-importButton-button-default-border-color-focus-pressed: dynamic(null);
$ui-importButton-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-importButton-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-importButton-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-importButton-button-default-background-color-over: dynamic(null);
$ui-importButton-button-default-border-color-over: dynamic(null);
$ui-importButton-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-importButton-button-default-inner-border-color-over: dynamic(null);
$ui-importButton-button-default-inner-border-width-over: dynamic(null);