@include treelist-ui(
        $ui: 'nav',

          // Extra padding left/right
        $padding: 0 0px,

          // Black-ish background color
        $background-color: #32404e,
        $toolstrip-background-color: #32404e,

        $tool-selected-color: #f0f0f0,
        $tool-selected-background-color: #5fa2dd,

        $tool-float-indicator-width: 4px,
        $tool-float-indicator-color: #5fa2dd,

          // Darker background for expanded subtrees
        $item-expanded-background-color: #2c3845,

          // Taller line height
        $item-line-height : 36px,

          // Off-white text
        $item-icon-color: #ADB3B8,
        $item-expander-color: #ADB3B8,
        $item-text-color: #ADB3B8,

          // Brighter when hovered
        $row-over-background-color: #4f606f,
        $item-icon-over-color: #fff,
        $item-expander-over-color: #fff,
        $item-text-over-color: #fff,

        $row-indicator-width: 6px,
        $row-indicator-selected-color: #5fa2dd,
        $row-indicator-selected-over-color: lighten(#5fa2dd, 10%),
        $row-indicator-over-color: lighten(#5fa2dd, 10%),

          // Various sizes for the pieces:
        $item-icon-font-size: 18px,
        $item-icon-width: 24px,
        $item-expander-font-size: 16px,
        $item-expander-width: 24px,

        $row-selected-background-color: #3f505f
);



.x-tool-img {                           //close button in a window
        color: #404040;
}

.loginBtn{

        background: #e53238 !important;
        border-radius: 20px;
        border: 0;
        margin-left: 260px;
        margin-right: 0px;
        margin-top: 15px;
        font: bold 16px Trebuchet MS !important;
        padding: 7px 15px 7px 15px;
}


.genericBtn{
       border: 0px;
        border-radius: 0px;
       margin-right: 0px;
       padding: 7px 15px 7px 15px;
        background: #e53238 !important;
}

.btn-text .x-btn-inner-default-small {
        color : #404040 !important;
        border: none;
        border-radius: 0px;
        margin-right: 0px;
        padding: 5px 15px 5px 15px;
}
.btn-text > .x-btn-inner-default-small *> .x-btn-over{
        background: #ffffff !important;
}

.x-btn-text{
        color : #404040 !important;
}


.x-btn-over {
        background-position: bottom center;
        background:  linear-gradient(to bottom, #E7464B 0%, #e53238 61%, #E9585D 100%) no-repeat !important;
}


.treelist-with-nav .#{$prefix}panel-body {
  background-color: #32404e;
}


.x-treelist-row-over .x-treelist-item-text{
        color: #e53238;
}

/*Change the color of icon from red to white when selected*/
.x-treelist-item-selected * > .x-treelist-item-icon {
        color: #ffffff;
}
/*Change the color of text from red to white when selected*/
.x-treelist-item-selected * > .x-treelist-item-text {
        color: #404040;
}
/*Change the color of expander from red to white when selected*/
.x-treelist-item-selected * > .x-treelist-item-expander {
        color: #ffffff;
}




/*Change icon color from red to white when selected and mouse over*/
.x-treelist-item-selected > .x-treelist-row-over * > .x-treelist-item-icon {
        color: #e53238;
}
/*Change text color from red to white when selected and mouse over*/
.x-treelist-item-selected  .x-treelist-row-over * > .x-treelist-item-text {
        color: #e53238;
}
/*Change expander color from red to white when selected and mouse over*/
.x-treelist-item-selected > .x-treelist-row-over * > .x-treelist-item-expander {
        color: #e53238;
}

.x-treelist-row-over * > .x-treelist-item-expander{
        color: #e53238;
}

.ex-element-52{
        margin-left: 20px;
}


.header-cls{
        background-color:#FFFFFF;
}


.header-title-cls{
        color : #404040 !important;
}


.x-form-item-label{   //label style for combobox
        width: 222px;
}



@include extjs-tab-ui(
        $ui: 'grey-tab',
        $ui-background-color: #767070,
        $ui-background-color-active: #595454,
        $ui-background-color-over: #595454,
        $ui-border-color: transparent,
        $ui-border-color-active: transparent,
        $ui-color: #FFFFFF,
        $ui-color-active: #FFFFFF,
        $ui-margin: 0
);
@include extjs-tab-ui(
        $ui: 'blue-tab',
        $ui-background-color: #255D8E,
        $ui-background-color-active: #1F4E78,
        $ui-background-color-over: #1F4E78,
        $ui-border-color: transparent,
        $ui-border-color-active: transparent,
        $ui-color: #FFFFFF,
        $ui-color-active: #FFFFFF,
        $ui-margin: 0
);